<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController as nav">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">WikiCloth</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$stateParams.name" ui-sref-active="active"><a ui-sref="wiki.view({name: $stateParams.name})">{{$stateParams.name}}</a></li>
        <li ng-show="nav.isLoggedIn() && $stateParams.name" ui-sref-active="active"><a class="btn-info" ui-sref="wiki.edit({name: $stateParams.name})">Edit</a></li>
        <li ng-show="nav.isLoggedIn() && $stateParams.name" ui-sref-active="active"><a class="btn-info" ui-sref="main">New Wiki</a></li>
        <li ng-show="$stateParams.name" ui-sref-active="active"><a ui-sref="wiki.history({name: $stateParams.name})">History</a></li>
        <li ng-show="$stateParams.name" ui-sref-active="active"><a ui-sref="talk.list({name: $stateParams.name})">Talk/Upload</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active" class="dropdown pointer">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-dashboard fa-lg"></span>
            <span class="hidden-tablet">Admin</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li active-menu="settings"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li ng-class="{disabled:$state.includes('user')}" ng-show="nav.isAdmin()"><a ui-sref="user.list"><span class="fa fa-users"></span> Users</a></li>
          </ul>
        </li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
