<div class="container">
  <h2>
    <a ng-class="{'text-muted': $ctrl.wiki.active !== true}" ui-sref="wiki.view({name: $ctrl.wiki.name})"
       uib-tooltip="{{$ctrl.wiki.info}}.  Revision({{$ctrl.wiki.revision}}), {{$ctrl.wiki.created_at | relativeDate}}">
      <span ng-if="$ctrl.wiki.active == true"> {{$ctrl.wiki.name}}</span>
      <del ng-if="$ctrl.wiki.active !== true">{{$ctrl.wiki.name}}</del></a>
  </h2>
  <div>
    <span ng-repeat="tag in $ctrl.wiki.tags track by $index">
      <a class="fa fa-tag" ui-sref="tag({tag: tag})">{{tag}}</a>
    </span>
  </div>
  <div mathjax-bind="$ctrl.wiki.content"></div>

</div>
