.app-modal-window .modal-dialog {
  width: 500px;
}

del {
  text-decoration:line-through;
  color: #b30000;
  background: #fadad7;
}
ins {
  background: #eaf2c2;
  color: #406619;
  text-decoration: none;
}
